header
    padding: $header-padding

    .container
        display: flex
        justify-content: space-between
        align-items: center

        & > *
            flex: 1 1 0px
            width: 0

        & > div
            margin-right: 1rem

    h2
        font-size: 3rem
        font-weight: 600
        margin-bottom: 1.5rem

    p
        font-size: 1.25rem
        font-weight: 400
        margin-bottom: 1rem

    img
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%)
        width: 100%
