@import '../colors'

nav
  position: absolute
  top: 0
  left: 0
  width: 100%
  padding: 1em .2em
  .container
    text-align: right

    button.theme-switch-button
      background-color: unset
      border: unset

      svg
        width: 32px
        
        path
          fill: #{$nord06}
