/*
 * Desktop version
 */
$body-font-size: 12px;

/* Slider */
$slider_animation_duration: .3s;
$slider-padding-mobile: 15px;
// Header
$slider-header-h1-font-size: 7em;
$slider-header-h2-font-size: 5em;
$slider-header-h3-font-size: 3em;
// Section
$slider-section-h2-font-size: 4em;
$slider-section-h3-font-size: 2.5em;
$slider-section-font-size: 1.5em;

/* Grid */
$margin-columns: .5em;
$margin-bottom-form: 0em;

/* Navbar */
$navbar-font-size: 16px;
$navbar-items-font-size: 14px;
$navbar-items-font-size-mobile: 18px;
$navbar-items-space-mobile: 10px;

/* Dots navigation */
$dot-size: 10px;
$dot-spacement: 8px;


/*
 * Mobile version
 */
$mobile-body-font-size: 12px;

// Header
$mobile-header-h1-font-size: 5em;
$mobile-header-h2-font-size: 3em;
$mobile-header-h3-font-size: 1.5em;
// Section
$mobile-section-h2-font-size: 3em;
$mobile-section-h3-font-size: 2em;
$mobile-section-font-size: 1.5em;

/* Navbar */
$mobile-navbar-font-size: 16px;
$mobile-navbar-items-font-size: 14px;
$mobile-navbar-items-font-size-mobile: 18px;
$mobile-navbar-items-space-mobile: 10px;
// Menu button
$navbar-button-width: 50px;
$navbar-button-width-row: 2px;
$navbar-button-row-space: 8px;
