$margin-columns: .5em;

.row {
    display: flex;
    justify-content: space-between;
    padding: $margin-columns;

    [class*="col-"] {
        margin-left: $margin-columns;
        margin-right: $margin-columns;
    }

    .col-6 { width: 50%; }
    .col-12 { width: 100%; }
}

.align-right {
    text-align: right;
}