body {
    font-family: 'Roboto Slab', serif;
}


.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    width: max-content;
    max-width: calc(100vw - 2em);
    transform: translate(-50%, -50%);
    font-size: 1.2em;

    h1 {
        font-size: 7em;
        font-weight: 700;
        font-family: 'Lato', sans-serif;
    }

    h2 {
        font-size: 5em;
        font-weight: 400;
    }

    h3 {
        font-size: 3em;
        font-weight: 300;
    }
}

section .hero {
    width: 80%;
    h2, h3 {
        margin-top: .3em;
    }
}

ul {
    margin: .5em 4em;
    li {
        margin: .25em 0;
    }
}