*, ::before, ::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html, body {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    scroll-behavior: smooth;

    font-size: 12px;
}

.slider {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide {
    position: absolute;
    top: 0px;
    left: -100%;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    animation-duration: .6s;
    animation-timing-function: cubic-bezier(.85, 0, .5, 1);

    &.active {
        opacity: 1;
        left: 0;
    }

    &.sliding-left {
        z-index: 5;
        left: -100%;
        animation-name: slidingLeftAnimation;
    }

    &.sliding-right {
        z-index: 5;
        left: 200%;
        animation-name: slidingRightAnimation;
    }

}

@media screen and (max-width: 768px) {
    html, body {
        overflow: auto;
    }
    .slider {
        height: auto;
        min-height: 100%;
    }
    .slide {
        position: unset;
    }
}

::-webkit-scrollbar {
    display: none;
}

@keyframes slidingLeftAnimation {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}
@keyframes slidingRightAnimation {
    0% {
        left: 0;
    }
    100% {
        left: 200%;
    }
}
