@import "variables";

/* Grids */

.row {
    display: flex;
    justify-content: space-between;
    padding: $margin-columns;

    [class*="col-"] {
        margin-left: $margin-columns;
        margin-right: $margin-columns;
    }

    .col-6 {
        width: 50%;
    }

    .col-12 {
        width: 100%;
    }
}

.align-right {
    text-align: right;
}

/* Main */
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html,
body {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    scroll-behavior: smooth;

    font-size: 12px;
}

body {
    font-family: 'Roboto Slab', serif;
}

::-webkit-scrollbar {
    display: none;
}

/* Main */
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    width: max-content;
    max-width: calc(100vw - 2em);
    transform: translate(-50%, -50%);
    font-size: 1.2em;

    h1 {
        font-size: $slider-header-h1-font-size;
        font-weight: 700;
        font-family: 'Lato', sans-serif;
    }

    h2 {
        font-size: $slider-header-h2-font-size;
        font-weight: 400;
    }

    h3 {
        font-size: $slider-header-h3-font-size;
        font-weight: 300;
    }
}

section .hero {
    width: 80%;
    font-size: $slider-section-font-size;

    h2,
    h3 {
        margin-top: .3em;
    }

    h2 {
        font-size: $slider-section-h2-font-size;
    }

    h3 {
        font-size: $slider-section-h3-font-size;
    }
}

ul {
    margin: .5em 4em;

    li {
        margin: .25em 0;
    }
}

a {
    position: relative;
    color: #555;
    text-decoration: none;

    &::before {
        position: absolute;
        top: 100%;
        left: 0;
        display: block;
        content: '';
        width: 0;
        height: 2px;
        background-color: #555;
        transition: width .3s cubic-bezier(.5, 0, .5, 1);
    }

    &:hover::before {
        width: 100%;
    }
}

/* Slider */
.slider {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide {
    position: absolute;
    top: 0px;
    left: -100%;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    animation-duration: $slider-animation-duration;
    animation-timing-function: cubic-bezier(.85, 0, .5, 1);

    &.active {
        opacity: 1;
        left: 0;
    }

    &.sliding-left {
        z-index: 5;
        left: -100%;
        animation-name: slidingLeftAnimation;
    }

    &.sliding-right {
        z-index: 5;
        left: 200%;
        animation-name: slidingRightAnimation;
    }

}

@media screen and (max-width: 768px) {

    html,
    body {
        overflow: auto;
    }

    .slider {
        height: auto;
        min-height: 100%;
    }

    .slide {
        position: unset;
    }
}

/* Contact Form */
@mixin inputs {
    padding: 1.25rem 1.75rem;
    font-size: 1.10em;
    border-radius: .5em;
    border: 1px solid rgba($color: #000000, $alpha: .5);
}

label {
    display: block;
    font-size: 1.5em;
    font-weight: 200;
}

input[type="text"],
input[type="email"],
textarea {
    @include inputs;
    width: 100%;

}

input[type="submit"] {
    @include inputs;
}

.form-group {
    margin-bottom: 1em;

    textarea {
        width: 100%;
        resize: vertical;
    }
}

/* Navbar */
nav.menu {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px;
    font-family: 'Lato', sans-serif;
    color: var(--header-font-color);
    transition: background .3s ease-in-out;

    animation: 1s navAppearAnimation cubic-bezier(.5, 0, .5, 1);

    .navbar {
        display: flex;
        flex: 1 auto;
        justify-content: space-between;
        align-items: center;
    }

    .title {
        text-decoration: none;
        color: currentColor;
        font-size: $navbar-font-size;
        font-weight: 700;
    }

    .nav-link {
        text-decoration: none;
        color: currentColor;
        text-transform: uppercase;
        margin-left: 20px;
        font-size: $navbar-items-font-size;
    }
}

nav.dots {
    z-index: 10;
    position: absolute;
    bottom: 1.5em;
    left: 50%;
    transform: translateX(-50%);
    animation: 1s dotsApparition cubic-bezier(.5, 0, .5, 1);

    .dot {
        display: inline-block;
        width: $dot-size;
        height: $dot-size;
        margin-right: $dot-spacement;
        border-radius: 50%;
        background-color: rgba($color: #000000, $alpha: .5);
        cursor: pointer;
        transition: background .3s ease-in-out;

        &.active {
            background-color: #000;
        }
    }
}

/* Reveal */
.slide.ready {
    [class*="reveal-"] {
        animation-name: revealAnimation;
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(.5, 0, 0, 1);
        animation-fill-mode: both;
    }

    &.inverse-animation [class*="reveal-"] {
        animation-name: revealRightAnimation;
    }

    .reveal-2 {
        animation-delay: .1s;
    }

    .reveal-3 {
        animation-delay: .2s;
    }

    .reveal-4 {
        animation-delay: .3s;
    }

    .reveal-5 {
        animation-delay: .4s;
    }

    .reveal-6 {
        animation-delay: .5s;
    }

    .reveal-7 {
        animation-delay: .6s;
    }

    .reveal-8 {
        animation-delay: .7s;
    }
}

[class*="reveal-"] {
    opacity: 0;
}

@media (prefers-reduced-motion: reduce) {
    [class*="reveal-"] {
        animation: none !important;
    }
}

/* Animations */
@keyframes navAppearAnimation {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes dotsApparition {
    0% {
        transform: translate(-50%, 3em);
    }

    100% {
        transform: translate(-50%, 0);
    }
}

@keyframes slidingLeftAnimation {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}

@keyframes slidingRightAnimation {
    0% {
        left: 0;
    }

    100% {
        left: 200%;
    }
}

@keyframes revealAnimation {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes revealRightAnimation {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}