$body-font-size: 16px;

/* Slider */
$slider_animation_duration: .3s;
// Header
$slider-header-h1-font-size: 7rem;
$slider-header-h2-font-size: 5rem;
$slider-header-h3-font-size: 3rem;
// Section
$slider-section-h2-font-size: 4rem;
$slider-section-h3-font-size: 3rem;
$slider-section-font-size: 1.5em;

/* Grid */
$margin-columns: .5em;

/* Navbar */
$navbar-font-size: 16px;
$navbar-items-font-size: 14px;

/* Dots navigation */
$dot-size: 10px;
$dot-spacement: 8px;
