// Polar Night
$nord01: #2e3440
$nord02: #3b4252
$nord03: #434c5e
$nord04: #4c566a

// Snow Storm
$nord05: #d8dee9
$nord06: #e5e9f0
$nord07: #eceff4

// Frost
$nord08: #8fbcbb
$nord09: #88c0d0
$nord10: #81a1c1
$nord11: #5e81ac

// Aurora
$nord12: #bf616a
$nord13: #d08770
$nord14: #ebcb8b
$nord15: #a3be8c
$nord16: #b48ead
