$animation-strength: 100px;

/**
* Reveal animation on visibility
**/

.reveal-loaded {
    .reveal[class*="reveal"] {
        opacity: 0;
    }

    .reveal.reveal-ready {
        &[class*="reveal-"] {
            animation-duration: 1s;
            animation-timing-function: cubic-bezier(.5, 0, 0, 1);
            animation-fill-mode: both;
        }

        &.reveal-top {
            animation-name: reveal_animation_top;
        }

        &.reveal-bottom {
            animation-name: reveal_animation_bottom;
        }

        &.reveal-left {
            animation-name: reveal_animation_left;
        }

        &.reveal-right {
            animation-name: reveal_animation_right;
        }

        &.reveal-1 {
            animation-delay: .1s;
        }

        &.reveal-2 {
            animation-delay: .2s;
        }

        &.reveal-3 {
            animation-delay: .3s;
        }

        &.reveal-4 {
            animation-delay: .4s;
        }

        &.reveal-5 {
            animation-delay: .5s;
        }

        &.reveal-6 {
            animation-delay: .6s;
        }

        &.reveal-7 {
            animation-delay: .7s;
        }

        &.reveal-8 {
            animation-delay: .8s;
        }

        &.reveal-9 {
            animation-delay: .9s;
        }
    }
}

// Remove animations on specified devices
@media (prefers-reduced-motion: reduce) {
    [class*="reveal-"] {
        animation: none !important;
    }
}

/**
 * Animation definitions
 **/
@keyframes reveal_animation_top {
    from {
        opacity: 0;
        transform: translateY(-$animation-strength);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes reveal_animation_bottom {
    from {
        opacity: 0;
        transform: translateY($animation-strength);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes reveal_animation_left {
    from {
        opacity: 0;
        transform: translateX(-$animation-strength);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes reveal_animation_right {
    from {
        opacity: 0;
        transform: translateX($animation-strength);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
