// Define styles variables
$item-menu-padding: 0.5rem 0.75rem
$header-padding: 6rem 0
$section-padding: 6rem 0
$footer-padding: 6rem 0

// Define colors
$color-primary: #ffffff
$color-secondary: #f2f2f2
$color-action: #6c757d

// Import basic stuff
@import base
@import container
@import reveal-animation

// Import components
@import components/footer
@import components/header
@import components/image-preview
@import components/nav
@import components/sections
